In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# format of address : mysql+pymysql://username:password@host:port/database_name
# MYSQL CONNECTION DETAILS
database_url ="mysql+pymysql://root:1234@localhost:3306/mysql_practice"

# CREATE ENGINE
engine = create_engine (database_url)

print ("connected to mysql database successfully")


# READ SALES DATA
query = "SELECT * FROM sales_s"
df = pd.read_sql(query, engine)

print(df.head())

connected to mysql database successfully
  transaction_id customer_id   customer_name  customer_age  gender product_id  \
0      TXN886726    CUST4481  Dhanush Bhakta            41    Male      P8464
1      TXN941069    CUST9221  Anahita Shenoy            46  Female      P7932
2      TXN737152    CUST1003    Mahika Saini            35  Female      P3228
3      TXN179947    CUST7752   Nayantara Ben            51  Female      P7738
4      TXN132714    CUST9088    Samaira Bora            29  Female      P9223

  product_name product_category  quantity  price payment_mode purchase_date  \
0         Sofa        Furniture         5  21410          UPI    2023-08-29
1   Sunglasses      Accessories         2   1156         Cash    2023-06-04
2          Bed        Furniture         4  13332  Credit Card    2023-10-14
3      T-Shirt         Clothing         3   7989  Credit Card    2023-05-18
4   Sunglasses      Accessories         4  13828          UPI    2023-09-16

  time_of_purchase     status  row_id
0  0 days 08:16:22    pending       1
1  0 days 16:24:21    pending       2
2  0 days 20:59:58    pending       3
3  0 days 23:48:18    pending       4
4  0 days 17:36:13  cancelled       5

In [15]:
df.groupby("product_category")["price"].sum()

product_category
Accessories    2741300
Books          2674721
Clothing       2717455
Electronics    2518448
Furniture      2656948
Groceries      2594761
Name: price, dtype: int64

In [17]:
df.groupby("product_category")["quantity"].sum()

product_category
Accessories    1009
Books          1006
Clothing       1099
Electronics     951
Furniture      1017
Groceries      1005
Name: quantity, dtype: int64

In [16]:
df["revenue"] = df["price"] * df["quantity"]

df.groupby("product_category")["revenue"].sum()

product_category
Accessories    10365306
Books           9912929
Clothing       10195727
Electronics     9504028
Furniture       9659478
Groceries       9464153
Name: revenue, dtype: int64